:root{
    --primary-color: #192A56;
    --secondary-color: #C0392B;
    --tertiary-color: #F2F2F2;
    --quaternary-color: #219653;
    --text-color: #383A57;


    --background-color: #F2F2F2;
    --hover-color: #E0E0E0;

    --unanswered-color: #C4C4C4;
    --unanswerrd-text-color: #828282;
}
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* POP-UP NOTI */
.icon{
    height: 20px !important;
    vertical-align:middle;
}
.timer span{
    vertical-align: middle;
}
#confirm-start {
    position: fixed;
    z-index: 11;
    background-color: var(--background-color);
    padding: 32px 0;
    margin: auto;
    overflow: scroll;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: white;
    display: flex;  /* chang flex or none*/
    justify-content: center;
}
.hide {
    display: none;
}
.confirm-start-container {
    position: absolute;
    width: 768px;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    color: var(--primary-color);
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-submit{
    width: 100%;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    justify-content: space-between;
    padding-right: 0px;
    gap: 32px;
    display: flex;
    order: 3;
    
}
.submit-start-grid {
    width: 300px;
    float: left;
    font-size: 16px;
    text-align: left;
    border-radius:50%;
}
.submit-start-grid input{
    height: 40px;
    width: 400px;
}
.start-btn{
    margin-top: 34px;
    width: fit-content;
    height: 40px;
    padding: 0 32px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    line-height: 40px;
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
}
.start-btn:active{
    transform: translateY(1px);
    background: #131E79;  
}
  
input[type=button]{
    font-size: 16px;
}
input[type=text]{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #2D399A;
    padding-left: 16px;
    margin-bottom: 16px ;
    margin-top: 8px;
}
input[type=password]{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #2D399A;
    padding-left: 16px;
    margin-top: 8px;

}

/* TIME OUT */
.hide{
    display: none;
}

.show {
    position: fixed;
    z-index: 12;
    background-color: var(--background-color);
    padding: 0;
    margin: auto;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: white;
      /* chang flex or none*/
    justify-content: center;
    display: flex;
}

.timeout-container {
    position: absolute;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding:0;
    color: var(--primary-color);
    font-weight: 500;
    padding: 0 16px;
}

.timeout-btn{
    margin-top: 16px;
    width: fit-content;
    height: 40px;
    padding: 0 32px;
    border-radius: 8px;
    background-color:var(--primary-color);
    color: var(--tertiary-color);
    line-height: 40px;
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.timeout-btn:hover{
    background: #131E79;  
}
.timeout-btn:active{
    transform: translateY(1px);
    background: #131E79;  
}

/* CUSTOM SCROLLBAR */
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: none;
        border-radius: 0;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ccc; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--unanswerrd-text-color); 
    }
/* CUSTOM TEXT INPUT */
.paragraph-input-text{
    line-height: 1.8;
    text-align: justify;
    border: solid 1px #828282;
    padding: 16px;
    border-radius: 4px;
}
.text_input{
    border-bottom: 2px solid var(--unanswerrd-text-color) !important;
    border-style: hidden;
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 16px;
    font-weight: 600;
    width: 112px;
    text-align: center;
    line-height: 10px;
    color: var(--primary-color);
}
/* CUSTOM QUESTION NUMBER */
span.number{
    display:inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color:var(--secondary-color);
    color: white;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    
}
/* CUSTOM RADIO INPUT CHECK */
    /* The container_radio */
    .container_radio {
        display: block;
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        font-size: 16px;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 20px;
        margin-bottom: 12px;
    }

    /* Hide the browser's default radio button */
    .container_radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark_radio {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
        border-style: solid;
        border-color:var(--unenter-text-color);
        border-width: 2px;
        box-sizing: border-box;
        margin-left: 4px;
    }

    /* On mouse-over, add a grey background color */
    .container_radio:hover input ~ .checkmark_radio {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container_radio input:checked ~ .checkmark_radio {
        background-color: transparent;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark_radio:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container_radio input:checked ~ .checkmark_radio:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container_radio .checkmark_radio:after {
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--quaternary-color);
        border-color: var(--quaternary-color);
        border-style: solid;
        border-width: 2px;
        box-sizing: border-box;
    }
 /* CUSTOM SELECT QUESTION (DROPLIST) */
 select option:first-child {
    display:none;
}
select.select{
    margin: 0 8px;
    width: fit-content;
    height: 24px;
    font-size: 16px;
    color: var(--text-color);
}
select.select :focus{
    border-style: solid;
    outline: 0;
}
select :checked{
    outline: 0;
    border: 0;
}

/* QUESTION */
    .question-container{
    padding: 0 0 32px 0;
}
.question-container .question{
    scroll-margin-top: 150px;
}
.question{
    font-weight: 500;
    padding-bottom: 8px;
    margin: 4px 0;
}
.question-group-description{
    margin-bottom: 16px;
}
.question-highlight{
    color: var(--secondary-color);
    font-weight: 700;
}
.question-multi{
    font-weight: 600;
    display: inline;
}

/* CUSTOM DEFAULT TAG */
html{
    font-family: 'Open Sans', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    scroll-behavior: smooth;
    overflow: hidden;
    cursor: default;
    scroll-margin-top: 10rem;
}
label{
    font-weight: 400;
}
div input {
    scroll-margin-top: 10rem;
}
div select {
    scroll-margin-top: 10rem;
}
p {
    line-height: 1.6;
    font-weight: 400;
}
.table{
    padding: 8px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
   
    border-radius: 8px;
}
.table .odd{
    background-color: var(--tertiary-color);
}
.table td{
    padding: 4px 16px;
}
.table tr{
    border-bottom: solid 0.5px #C4C4C4;
}
.table tr.even:hover{
    background-color: var(--background-color);
}


th.showbd{
    border: solid 1px #ccc;
    background-color: var(--background-color);
    text-align: center;
    width: fit-content;
    padding: 8px;
}
td.showbd{
    text-align: left;
    border: solid 1px #ccc;
    padding: 8px;
    line-height: 2;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.header-container{
    padding: 0 32px;
    display: flex;
}
.skill-name{
    flex: 1;
    text-align: left;
}
.timer{
    flex: 1;
    text-align: center;
}
.event-name{
    flex: 1;
    text-align: right;
}

/* FOOTER */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
}
.footer-container{
    display: flex;
    padding: 0 32px;
}
.part-group-btn{
    flex: 1;
    text-align: left;
}
.part-group-btn .button{
    margin-right: 8px;
}

.submit-group-btn{
    flex: 1;
    text-align: right;
}
.submit-group-btn .button{
    margin-left: 8px;
}

.button{
    width: fit-content;
    height: 32px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align:middle;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding-left: 24px;
    padding-right: 24px;
    line-height: 32px;
    font-weight: 500;
    font-size: 16px;
}
button img{
    vertical-align:middle;
}
button span{
    vertical-align:middle;
}
.button:hover{
    background-color: var(--hover-color);
}
.button:active{
    transform: translateY(1px);
}
a:link {
    color:var(--unenter-text-color);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color:var(--unenter-text-color);
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: var(--unenter-text-color);
    background-color: transparent;
    text-decoration: none;
  }
a:active {
    color: var(--unenter-text-color);
    background-color: transparent;
    text-decoration: none;
  }
/* SIDENAV */
.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:var(--background-color);
    overflow-x: hidden;
    transition: 0.2s;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: -280px;
  }
.palette{
    background-color: var(--background-color);
    border-radius: 0 0 8px 8px;
    display: grid;
    grid-gap: 8px 8px;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius:50%;
    float: left;
}
.grid-item.default{
    color:var(--unanswerrd-text-color);
    background-color: var(--unanswered-color);
}
.grid-item a{
    text-decoration: none;
    display: inline-block;
}
.grid-item a:link {
    color:var(--unanswerrd-text-color);
    background-color: transparent;
    text-decoration: none;
  }
.grid-item a:visited {
    color:var(--unanswerrd-text-color);
    background-color: transparent;
    text-decoration: none;
  }
.grid-item a:hover {
    color:var(--unanswerrd-text-color);
    background-color: transparent;
    text-decoration: none;
  }
.grid-item a:active {
    color:var(--unanswerrd-text-color);
    background-color: transparent;
    text-decoration: none;
  }
.grid-item.change{
    color:var(--tertiary-color);
    background-color: var(--primary-color);
    
}
.grid-item.change a{
    text-decoration: none;

}
.grid-item.change a:link {
    color:var(--tertiary-color);
    background-color: transparent;
    text-decoration: none;
  }
  .grid-item.change a:visited {
    color:var(--tertiary-color);
    background-color: transparent;
    text-decoration: none;
  }
  .grid-item.change a:hover {
    color:var(--tertiary-color);
    background-color: transparent;
    text-decoration: none;
  }
  .grid-item.change a:active {
    color:var(--tertiary-color);
    background-color: transparent;
    text-decoration: none;
  }
.palette-description{
    display: inline-block;
    padding: 32px 32px;
    order: 1;
}
.answered-question{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translateY(25%);
    margin-right: 8px;
}
.unanswered-question{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: var(--unanswered-color);
    border-radius: 50%;
    transform: translateY(25%);
    margin-right: 8px;
}



/* LEFT CONTENT */
#content{
    position: fixed;
    height: calc(100% - 82px);
    top:50px;
    bottom: 50px;
    transition: margin-right .5s;
    overflow: scroll;
    margin-right: -6px;
}
.left-content{
    float: left;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--background-color);
    overflow-y: scroll;
    line-height: 1.5;

}
.left-content-container{
    padding: 32px;
}
.passage-title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--secondary-color);
}
.passage-description{
    font-style: italic;
    font-size: 16px;
    text-align: justify;

}
.passage{
    text-align: justify;
    line-height: 1.6;
}

/* RIGHT CONTENT */
.right-content{
    float: right;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    overflow-y: scroll;
    line-height: 1.6;
   

}
.right-content-container{
    padding: 32px;
} 

/* WRITING */
textarea{
    width: 100%;
    height: 450px;
    background-color: var(--background-color);
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
::placeholder{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.part-container{
    margin-bottom: 32px;
}
#part1,#part2,#part3,#part4{
    scroll-margin-top: 32px;
}